/* Hoja de estilos generales. Se incluyen extras para el formulario y alguna imagen. */
html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    height: 100%; 
    display: flex;
    flex-direction: column;
}

header {
    background-color: #2D882D;
    color: #A5DA91;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #A5DA91;
    text-decoration: none;
    padding: 5px 10px;
    
}

nav ul li a:hover{
    text-decoration: underline;
    color: inherit;
}

nav ul li a.active {
    background-color: #144900;
    border-radius: 5px;
}

main {
    padding: 20px;
    /*Corregido con flex para que se empuje el footer hacia abajo */
    flex: 1;
}

footer {
    background-color: #2D882D;
    color: #A5DA91;
    text-align: center;
    padding: 20px 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer .social-icons img {
    width: 30px;
    margin: 0 10px;
    border-radius: 1000px;
}

footer .legal {
    margin-top: 10px;
    font-size: 0.9em;
}

/* Estilo específico para elementos de la galería */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    object-fit: cover;
}

/* Pequeña interacción al seleccionar la imagen */
.gallery img:hover {
    transform: scale(1.05);
}


/* Sección de formulario en presupuesto */
form {
    max-width: 650px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
}

form input,
form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

form input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

.checkbox{
    display: flex;
    align-items: center;
}

.checkbox label{
    margin-bottom: 20px;
}

/* Estilo específico para elementos de la página de contacto */
.contact-info {
    margin-bottom: 20px;
}

.contact-info h2,
.map h2 {
    margin-top: 0;
    color: #555;
}

.map img {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
