<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería - Empresa Genérica</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <div class="logo">Empresa Genérica</div>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./portfolio.html" class="active">Galería</a></li>
                <li><a href="./presupuesto.html">Presupuestos</a></li>
                <li><a href="./contacto.html">Contáctanos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Nuestros Trabajos</h1>
        <p>Algunos ejemplos de los útiles que podemos aportar a tu negocio:</p>
        <div class="gallery">
            <img src="../images/elements/luz.png" alt="Imagen iluminación">
            <img src="../images/elements/mesa.png" alt="Imagen mesa">
            <img src="../images/elements/silla.png" alt="Imagen silla">
            <img src="../images/elements/atril.png" alt="Imagen atril">
            <img src="../images/elements/agua.png" alt="Imagen dispensador">
        </div>
    </main>

    <footer>
        <div class="social-icons">
            <a href="https://facebook.com"><img src="../images/social/facebook.png" alt="Facebook"></a>
            <a href="https://twitter.com"><img src="../images/social/twitter.png" alt="Twitter"></a>
            <a href="https://instagram.com"><img src="../images/social/instagram.png" alt="Instagram"></a>
        </div>
        <div class="address">
            Calle Media Legua 28, Oviedo, España
        </div>
        <div class="legal">
            <p>© 2024 Empresa Genérica - Todos los derechos reservados</p>
        </div>
    </footer>
</body>
</html>
